.about {
  display: flex;
  padding: 4rem 0;
  margin-top: 1%;
  font-family: Cabin, sans-serif;
}
.aboutText {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 4px 0;
}
.aboutText h1 {
  font-size: 6rem;
  -webkit-text-stroke: 2px #f3f3f3;
  -webkit-text-stroke: 2px rgb(228, 170, 72);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  color: transparent;
  writing-mode: vertical-rl;
  animation: fadeInRight 2.5s;
}

.aboutText h1:hover {
  --webkit-text-stroke: 2px transparent;
  color: rgb(228, 170, 72);
}

.image {
  animation: fadeInLeft 1s;
  margin-left: -80px;
  padding: 4px 0;
}

.image img {
  width: 115%;
  height: 100%;
}

.container {
  padding: 0 20px;
  margin-left: 3%;
}

.container p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #535353;
  margin-top: -1px;
  font-family: Cabin, sans-serif;
  font-weight: 400;
}

.point1 {
  animation: fadeInRight 1.5s;
}
.point2 {
  animation: fadeInRight 2.5s;
}
.point3 {
  animation: fadeInRight 3.5s;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}

.techStack {
  padding: 0 20px;
  margin-left: 3%;
  font-size: 1.6rem;
  color: black;
  animation: fadeInUp 0.25s;
  font-family: cursive;
  font-weight: 600;
}
.stackContainer {
  padding: 0 20px;
  margin-left: 3%;
}
.techStack::before {
  content: "-";
  display: inline-block;
  align-self: center;
  color: #f3004b;
}

.stack1 {
  display: flex;
  padding: 0 20px;
  margin-left: 3%;
  width: 58%;
  align-items: center;
  margin-bottom: 1rem;
}

.stack1 span {
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 0.2rem;
}

.icon {
  border: none;
  padding: 5px;
  width: 10rem;
}

.svgIcon {
  width: 1rem;
  height: 1rem;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    margin-top: 0%;
    padding: 1rem 0;
  }
  .aboutText {
    transform: none;
    writing-mode: horizontal-tb;
    text-align: center;
  }
  .aboutText h1 {
    transform: none;
    writing-mode: horizontal-tb;
    text-align: center;
    font-size: 3rem;
  }
  .image {
    display: none;
  }
  .container p {
    font-size: 16px;
  }

  .svgIcon {
    width: 0.5rem;
    height: 0.5rem;
  }

  .techStack {
    font-size: 20px;
  }
  .stack1 {
    width: 88%;
  }
  .stack1 span {
    font-size: 9px;
  }
  .icon {
    width: 5rem;
    padding: 2px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .about {
    flex-direction: column;
    margin-top: 0%;
    padding: 1rem 0;
  }
  .aboutText {
    transform: none;
    writing-mode: horizontal-tb;
    text-align: center;
  }
  .aboutText h1 {
    transform: none;
    writing-mode: horizontal-tb;
    text-align: center;
    font-size: 4rem;
  }
  .image {
    display: none;
  }
  .container p {
    font-size: 18px;
  }

  .svgIcon {
    width: 0.75rem;
    height: 0.75rem;
  }

  .techStack {
    font-size: 22px;
  }
  .stack1 {
    width: 92%;
  }
  .stack1 span {
    font-size: 12px;
  }
  .icon {
    width: 8rem;
    padding: 2px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about {
    flex-direction: column;
    margin-top: 0%;
    padding: 1rem 0;
  }
  .aboutText {
    transform: none;
    writing-mode: horizontal-tb;
    text-align: center;
  }
  .aboutText h1 {
    transform: none;
    writing-mode: horizontal-tb;
    text-align: center;
    font-size: 4rem;
  }
  .image {
    display: none;
  }
  .container p {
    font-size: 18px;
  }

  .svgIcon {
    width: 0.8rem;
    height: 0.8rem;
  }

  .techStack {
    font-size: 24px;
  }
  .stack1 {
    width: 95%;
  }
  .stack1 span {
    font-size: 14px;
  }
  .icon {
    width: 9rem;
    padding: 2px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .about {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    margin-top: 1%;
    font-family: Cabin, sans-serif;
  }

  .aboutText {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 4px 0;
  }

  .aboutText h1 {
    writing-mode: vertical-rl;
    font-size: 6rem;
  }

  .container p {
    font-size: 1.3rem;
  }
  .image {
    display: inline;
    margin-left: -80px;
    padding: 4px 0;
  }

  .image img {
    width: 115%;
    height: 100%;
  }

  .svgIcon {
    width: 0.9rem;
    height: 0.9rem;
  }

  .techStack {
    font-size: 1.5rem;
  }
  .stack1 {
    width: 99%;
  }
  .stack1 span {
    font-size: 1rem;
  }
  .icon {
    width: 10rem;
    padding: 4px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    margin-top: 1%;
    font-family: Cabin, sans-serif;
  }

  .aboutText {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 4px 0;
  }

  .aboutText h1 {
    writing-mode: vertical-rl;
    font-size: 6rem;
  }

  .container p {
    font-size: 1.6rem;
  }
  .image {
    display: inline;
    margin-left: -80px;
    padding: 4px 0;
  }

  .image img {
    width: 115%;
    height: 100%;
  }

  .svgIcon {
    width: 1rem;
    height: 1rem;
  }

  .techStack {
    font-size: 1.6rem;
  }
  .stack1 {
    width: 100%;
  }
  .stack1 span {
    font-size: 1rem;
  }
  .icon {
    width: 10rem;
    padding: 5px;
  }
}
