body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
}

/* .fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
} */

@font-face {
  font-family: "myFont1";
  src: url("./fonts/RockSalt-Regular.ttf");
}